*~
*#
.#*
\#*#
.*.sw[a-z]
*.un~
pkg/

# Berkshelf
.vagrant
/cookbooks
Berksfile.lock

# Bundler
.bundle/*

.kitchen/
.kitchen.local.yml

cookbook/metadata.json
node_modules
npm-debug.log
TOKEN
VERSION
config.json
